doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')    
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script', rel='stylesheet')
    link(rel='stylesheet', href='app.css')
  body
    section#main-container
      .row
        .col.s10.push-s1
          .row
            .col.m5.hide-on-small-only
              img.iphone(src='iphone.png', alt='')
            .col.s12.m7
              .row
                .signup-box
                  h1.platzigram Platzigram
                  form.signup-form
                    h2 Registrate para ver las fotos de tus amigos de Platzi
                    .section
                      .btn.btn-fb.hide-on-small-only
                        | Inicia Sesion con Facebook
                      .btn.btn-fb.hide-on-med-and-up
                        | Inicia Sesion
                    .divider
                    .section
                      input(type='email', name='email', placeholder='Correo Electrónico')
                      input(type='text', name='name', placeholder='Nombre completo')
                      input(type='text', name='username', placeholder='Nombre de Usuario')
                      input(type='password', name='name', placeholder='Contraseña')
                      button.btn.waves-effect.waves-light.btn-signup(type='submit') Registrarse
              .row
                .login-box
                  | ¿Tienes una cuenta? 
                  a(href='/signin') Entrar
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            // Dropdown Trigger
            a.dropdown-button.btn(href='#', data-activates='dropdown1') Idioma
            // Dropdown Structure
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Español
              li
                a(href='#!') Ingles
          .col.s12.l3.push-l6.center-align
            | © 2017 Platzigram
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
    script(src='materialize.min.js')